<div class="panel panel-primary"ng-controller="qqControl" >
    <div class="panel-heading">
        <h3 class="panel-title">QQ列表:共{{allPage}}页 {{count}}条记录</h3>
    </div>
    <div class="panel-body" >
        <ul class="pagination"  ng-repeat="page in pages">
            <li><a href="/blogqq?pg=<% page %>"><% page %></a></li>
        </ul>
        <div class="list-group"  selector="div">
            <div class="list-group-item">
                <div  style="width:5%">Index</div>
                <div>QQ</div>
                <div>likename</div>
                <div>时间</div>
                <div>文章名称</div>
                <div>地区</div>
                <div style="width:18%">blogid</div>
            </div>
            <div  class="list-group-item" ng-repeat="user in users">
                <div style="width:5%"><% $index+1%></div>
                <div><% user.qq  %></div>
                <div title="<% user.name%>"><% user.name|stringLen%></div>
                <div><% user.time| time : 'yyyy-MM-dd'%></div>
                <div><% user.blogname%></div>
                <div><% user.area|limitNull %></div>
                <div style="width:18%" title="<% user.blogid %>"><% user.blogid|stringLen:30 %></div>
            </div>
        </div>

        <ul class="pagination"  ng-repeat="page in pages">
            <li><a href="/blogqq?pg=<% page %>&ps=<% ps %>"><% page %></a></li>
        </ul>
    </div>
</div>

<script>
    var users = JSON.parse('{{{json users}}}'), ps = '{{ps}}', pages = JSON.parse('{{{json pages}}}');
</script>
