<div class="panel panel-primary"ng-controller="qqControl" >
    <div class="panel-heading">
        <h3 class="panel-title">QQ列表:共{{allPage}}页 {{count}}条记录</h3>
    </div>
    <div class="panel-body" >
        <div class="btn-group">
            <form class="navbar-form navbar-left" role="search" id="search" action="/blogqq" method="get">
                <div class="form-group">
                    <input type="text"  value="{{ps}}" name="ps"  class="form-control col-sm-1" placeholder="每页显示">
                </div>
                <div class="form-group">
                    <input type="text" value="{{page}}" name="pg" class="form-control col-sm-1" placeholder="第几页">
                </div>
                <button type="submit" class="btn btn-primary">GO</button>
                <a type="submit" class="btn btn-info" href="/blogqq?pg={{page+1}}&ps={{ps}}">下一页</a>
            </form>
        </div>

        <div class="list-group"  selector="div">
            <div class="list-group-item">
                <div  style="width:5%">Index</div>
                <div>QQ</div>
                <div>likename</div>
                <div>时间</div>
                <div>文章名称</div>
                <div>地区</div>
                <div style="width:18%">blogid</div>
            </div>
            <div  class="list-group-item" ng-repeat="user in users">
                <div style="width:5%"><% $index+1%></div>
                <div><% user.qq  %></div>
                <div title="<% user.name%>"><% user.name|stringLen%></div>
                <div><% user.time| time : 'yyyy-MM-dd'%></div>
                <div><% user.blogname%></div>
                <div><% user.area|limitNull|stringLen:18 %></div>
                <div style="width:18%" title="<% user.blogid %>"><% user.blogid|stringLen:30 %></div>
            </div>
        </div>
        <div class="btn-group">
            <form class="navbar-form navbar-left" role="search" id="search" action="/blogqq" method="get">
                <div class="form-group">
                    <input type="text"  value="{{ps}}" name="ps"  class="form-control col-sm-1" placeholder="每页显示">
                </div>
                <div class="form-group">
                    <input type="text" value="{{page}}" name="pg" class="form-control col-sm-1" placeholder="第几页">
                </div>
                <button type="submit" class="btn btn-primary">GO</button>
                <a type="submit" class="btn btn-info" href="/blogqq?pg={{page}}&ps={{ps}}">下一页</a>
            </form>
        </div>
    </div>
</div>

<script>
    var users = JSON.parse('{{{json users}}}'), ps = '{{ps}}',page='{{page}}', pages = JSON.parse('{{{json pages}}}');
</script>
