
<div ng-controller="Get" selector="button" ngd-click="itemClick($event)">
    <div class="panel panel-primary" id="part1">
        <div class="panel-heading">
            <h3 class="panel-title">获取QQ</h3>
        </div>
        <div class="panel-body" >
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="qq" class="col-sm-2 control-label">QQ</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="blog.qq" id="qq" placeholder="QQ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bn" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="blog.name" id="bn" placeholder="Blog名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bid" class="col-sm-2 control-label">blogID</label>
                    <div class="col-sm-4">
                        <input  class="form-control" ng-model="blog.id" id="bid" placeholder="Blogid">
                    </div>
                </div>
                <div class="form-group">
                    <label for="timer" class="col-sm-2 control-label">延时</label>
                    <div class="col-sm-4">
                        <input  class="form-control" ng-model="blog.timer"  id="timer" placeholder="Timer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="timenumber" class="col-sm-2 control-label">每次QQ取量</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="blog.timenumber" id="timenumber" placeholder="number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" value="p1start">开始</button>
                        <button type="button" class="btn btn-warning" value="p1stop">停止</button>
                        <span ng-model="blog">运行次数:<% blog.num %></span>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <div class="panel panel-primary" id="part2">
        <div class="panel-heading">
            <h3 class="panel-title">获取地区</h3>
        </div>
        <div class="panel-body" >
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="setAreaLen" class="col-sm-2 control-label">每次转换数</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="Area.getnum" id="setAreaLen" placeholder="number">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" value="getArea" id="getArea">开始</button>
                        <button type="button" class="btn btn-warning" value="stopGetArea">停止</button>
                        <span ng-model="setAreaLen">已完成:<% setAreaLen %>个</span> <span class="alert alert-danger" role="alert"  ng-model="Area.msg"><% Area.msg %></span>
                        <span class="alert alert-success" role="alert" ng-model="Area.succ"><% Area.succ %></span>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="panel panel-primary" id="part3">
        <div class="panel-heading">
            <h3 class="panel-title">导出QQ</h3>
        </div>
        <div class="panel-body" >
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="barea" class="col-sm-2 control-label">地区</label>
                    <div class="col-sm-4">
                        <input  class="form-control" ng-model="blog.area" id="barea" placeholder="area">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bids" class="col-sm-2 control-label">blogID</label>
                    <div class="col-sm-4">
                        <input  class="form-control" ng-model="blog.id" id="bids" placeholder="Blogid">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bn" class="col-sm-2 control-label">blog名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"  ng-model="blog.name" id="bname" placeholder="Blog名称">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" value="part3excel">导出</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/jslib/socket.io.js"></script>