<h1>获取QQ</h1>
<br><br>
//获取QQ方法有两个方案:
// 1通过QQ接口：http://dir.minigame.qq.com/cgi-bin/dir_fetch_qqhead/get_player_info?callback=success_jsonpCallback1&uin=&_=1401763040081
<br>
// 2通过app.data.qq.com空间获取
<br><br>
<div><a href="#" id="getByGame">方法1</a></div>
---------------------------------------------------------------
<div><a href="#" id="getByApp">方法2</a></div>
--------------------------------------------------------------------- -
<div><a target="_blank" href="/qlist">QQ列表</a></div>
-------------------------------------------------------------------------

<div id="msg">请耐心等待......</div>
